# ===============================
# 🌐 WEBSITE CONFIGURATION
# ===============================

WEBSITE_URL=https://dev-pr.infochecker.com/en/

# ===============================
# 🧠 PUPPETEER SETTINGS
# ===============================

# boolean values: true or false for headless
PUPPETEER_HEADLESS= false

# boolean values: true or false for start maximized
PUPPETEER_START_MAXIMIZED=true

# viewport settings: null or specify width and height like {width: 1280, height: 800}
PUPPETEER_DEFAULT_VIEWPORT=null



# ===============================
# ▶️ + ⚙️ EXECUTION FLOW  SETTINGS
# ===============================

# boolean values: true or false to enable or disable specific execution flows
ENABLE_DISCOUNTED_FULL_FLOW = true
ENABLE_PRO_ACCESS_FLOW = false
ENABLE_STANDARD_FLOW = false
ENABLE_PAID_PLATFORM_ACCESS = false


# ===============================
# 💳 CARD DETAILS
# ===============================

# Use valid card details for successful transactions. valid 16 digit card number.
CARD_NUMBER=4067429974719265

# Use valid expiry date in MM/YY format. 
CARD_EXPIRY=12/34

# Use valid CVV code (3 or 4 digits).
CARD_CVV=123


# ===============================
# 👤 USER SETTINGS
# ===============================
# Number of users to register
USER_REGISTRATION_COUNT=1




# ===============================
# 📊 REPORT GENERATION
# ===============================
# boolean values: true or false to enable or disable report creation
ENABLE_CREATE_REPORT = false 

# Number of reports to generate (integer value)
REPORT_COUNT=1 


# ===============================
# 🔓 REPORT UNLOCK SETTINGS
# ===============================
# boolean values: true or false to enable or disable report unlocking
UNLOCK_REPORT=false



# ===============================
# 📕 PDF SUBSCRIPTION SETTINGS
# ===============================
# boolean value for pdf download or take pdf SUBSCRIPTION
DOWNLOAD_PDF= false



# ===============================
# 📧 HTML PAGE FOR USER REGISTRATION DETAILS
# ===============================
# boolean value for html page generate for user registration details
HTML_PAGE_CREATION_FOR_USER_DETAILS= false

# ===============================
# 📧 HTML PAGE OPEN SETTINGS
# ===============================
OPEN_HTML_PAGES= true


# ===============================
# ⏱️ AUTOMATION SETTINGS
# ===============================
# Retry configuration
MAX_RETRIES=3

# Delay between retries in milliseconds
RETRY_DELAY_MS=5000

# ===============================
# Timeout settings (in milliseconds)
# ===============================
# page load timeout for navigation and waiting for elements(integer value in miliseconds)
PAGE_TIMEOUT=90000

# timeout for waiting for iframes to load and be available (integer value in miliseconds)
IFRAME_TIMEOUT=120000

# timeout for report generation and unlocking (integer value in miliseconds)
REPORT_TIMEOUT=60000 

# Delay settings (in milliseconds)

# delay after clicks to allow page to respond (integer value in miliseconds)
COMMON_DELAY_ONCLICKS=200

# delay between keystrokes when typing (integer value in miliseconds)
TYPING_DELAY=50



# ===============================
# 🌐 BROWSER SETTINGS
# ===============================
# boolean values: true or false to determine if browser should close after completion
BROWSER_CLOSE_ON_COMPLETION = false/true