# ===============================
# 🌐 WEBSITE CONFIGURATION
# ===============================

WEBSITE_URL=https://dev-pr.infochecker.com/en/

# ===============================
# 🧠 PUPPETEER SETTINGS
# ===============================

PUPPETEER_HEADLESS= false  # boolean values: true or false for headless


PUPPETEER_START_MAXIMIZED=true  # boolean values: true or false for start maximized


PUPPETEER_DEFAULT_VIEWPORT=null  # viewport settings: null or specify width and height like {width: 1280, height: 800}



# ===============================
# ▶️ + ⚙️ EXECUTION FLOW  SETTINGS
# ===============================


ENABLE_DISCOUNTED_FULL_FLOW = true # boolean values: true or false to enable or disable ENABLE_DISCOUNTED_FULL_FLOW
ENABLE_PRO_ACCESS_FLOW = false  # boolean values: true or false to enable or disable ENABLE_PRO_ACCESS_FLOW
ENABLE_STANDARD_FLOW = false  # boolean values: true or false to enable or disable ENABLE_STANDARD_FLOW
ENABLE_PAID_PLATFORM_ACCESS = false  # boolean values: true or false to enable or disable ENABLE_PAID_PLATFORM_ACCESS


# ===============================
# 💳 CARD DETAILS
# ===============================

CARD_NUMBER=4067429974719265 # Use valid card details for successful transactions. valid 16 digit card number.


CARD_EXPIRY=12/34  # Use valid expiry date in MM/YY format. 


CARD_CVV=123  # Use valid CVV code (3 or 4 digits).


# ===============================
# 👤 USER SETTINGS
# ===============================

USER_REGISTRATION_COUNT=1  # Number of users to register
 


# ===============================
# 📊 REPORT GENERATION
# ===============================

ENABLE_CREATE_REPORT = false  # boolean values: true or false to enable or disable report creation


REPORT_COUNT=1   # Number of reports to generate after registration (integer value)


# ===============================
# 🔓 REPORT UNLOCK SETTINGS
# ===============================

UNLOCK_REPORT=false  # boolean values: true or false to enable or disable report unlocking



# ===============================
# 📕 PDF SUBSCRIPTION SETTINGS
# ===============================

DOWNLOAD_PDF= false  # boolean value for pdf download or take pdf SUBSCRIPTION



# ===============================
# 📧 HTML PAGE FOR USER REGISTRATION DETAILS
# ===============================

HTML_PAGE_CREATION_FOR_USER_DETAILS= false  # boolean value for html page generate for user registration details

# ===============================
# 📧 HTML PAGE OPEN SETTINGS
# ===============================
OPEN_HTML_PAGES= true  # boolean value for open html page after users details page generation


# ===============================
# ⏱️ AUTOMATION SETTINGS
# ===============================

MAX_RETRIES=3  # Retry configuration for failed attempts

RETRY_DELAY_MS=5000  # Delay between retries in milliseconds if fails


# ===============================
# Timeout settings (in milliseconds)
# ===============================

PAGE_TIMEOUT=90000  # page load timeout for navigation and waiting for elements(integer value in miliseconds)


IFRAME_TIMEOUT=120000  # timeout for waiting for iframes to load and be available (integer value in miliseconds)


REPORT_TIMEOUT=60000  # timeout for report generation and unlocking (integer value in miliseconds)


# ===============================
# Delay settings (in milliseconds)
# ===============================


 
COMMON_DELAY_ONCLICKS=200  # delay after clicks to allow page to respond (integer value in miliseconds)


TYPING_DELAY=50  # delay between keystrokes when typing (integer value in miliseconds)



# ===============================
# 🌐 BROWSER SETTINGS
# ===============================

BROWSER_CLOSE_ON_COMPLETION = false/true  # boolean values: true or false to determine for  browser should close after completion